@font-face{
    font-family: 'Libre Baskerville';
    font-display: swap;
    src: url('../font/LibreBaskerville-Regular.ttf') format("truetype");
}

@font-face{
    font-family: 'Mulish';
    font-display: swap;
    src: url('../font/Mulish-Light.ttf') format("truetype");
}

@font-face{
    font-family: 'Josefin Sans';
    font-display: swap;
    src: url('../font/JosefinSans-Regular.ttf') format("truetype");
}

@font-face{
    font-family: 'NeueHaasDisplayRoman';
    font-display: swap;
    src: url('../font/NeueHaasDisplayRoman.ttf') format("truetype");
}


@font-face{
    font-family: 'Roboto Regular';
    font-display: swap;
    src: url('../font/Roboto-Regular.ttf') format("truetype");
}

@font-face{
    font-family: 'Roboto Thin';
    font-display: swap;
    src: url('../font/Roboto-Thin.ttf') format("truetype");
}

@font-face{
    font-family: 'NotoSansJP Light';
    font-display: swap;
    src: url('../font/NotoSansJP-Light.ttf') format("truetype");
}

@font-face{
    font-family: 'NotoSansJP Regular';
    font-display: swap;
    src: url('../font/NotoSansJP-Regular.ttf') format("truetype");
}


@font-face{
    font-family: 'Wix Madefor Text';
    font-display: swap;
    src: url('../font/WixMadeforText-VariableFont_wght.ttf') format("truetype");
}

@font-face{
    font-family: 'Wix Madefor Display';
    font-display: swap;
    src: url('../font/WixMadeforDisplay-VariableFont_wght.ttf') format("truetype");
}




/* 網頁字體設定 */
/* #site-title {
    font-family:'Wix Madefor Display' ;
    font-weight: 700;
    font-size: 32px;
} */

/*選單字體*/
div#menus {
    font-family:'Wix Madefor Text' ;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
}

body{
    font-family:'Wix Madefor Text' ;
    font-style: normal;
}

/* #posts-chart > div:nth-child(1) > canvas{
    font-family:'Wix Madefor Text' ;
} */

